@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

.home {
	display: flex;
	flex-direction: column;
	background-color: rgb(0, 0, 0);
	top: 130px;
	height: auto;
	width: 100%;
	position: absolute;

}

.video-home {
	max-width: 100%;
	opacity: 0.4;
}

.caja-inicio {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-bottom: 2px solid white;
	
}

.div_titulo {
	position: absolute;
	border: 2px solid rgb(186, 186, 186);
	margin-top: 200px;
	padding: 10px;
	backdrop-filter: blur(30px);
	max-width: 40%;
}

.titulo_caja {
	font-family: 'Proxima Nova', sans-serif;
	color: white;


}

.texto_caja {
	color: white
}

.caja-abajo {
	width: 100%;
	z-index: 0;
	height: 1000px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(26, 24, 25, 0.73)),
    url('../../fotos/festival4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

}




/* .cajas_informacion{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
	position: absolute;
	margin-top: 750px;
}

.cajas_informacion div{
	color: white;
	border: 2px solid white;
} */


:root {
	--d: 700ms;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
	--font-sans: 'Proxima Nova', sans-serif;
	--font-serif: 'Proxima Nova', serif;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
}

.page-content {
	display: flex;
	width: 100%;
	margin-top: 1000px;
	font-family: var(--font-sans);
	position: absolute;
	flex-direction: row;
	justify-content: space-around;
}

@media (min-width: 600px) {
	.page-content {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 800px) {
	.page-content {
		grid-template-columns: repeat(2, 1fr);
	}
}

.carta {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem;
	width: 30%;
	text-align: center;
	color: whitesmoke;
	z-index: 9;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
	.carta {
		height: 350px;
	}
}

.carta:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: 0 0;
	transition: transform calc(var(--d) * 1.5) var(--e);
	pointer-events: none;
}

.carta:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
	transform: translateY(-50%);
	transition: transform calc(var(--d) * 2) var(--e);
}

.carta:nth-child(1):before {
	background-image: url('../fotos/festival3.jpeg');
}

.carta:nth-child(2):before {
	background-image: url('../fotos/festival2.png');
}


.content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: transform var(--d) var(--e);
	z-index: 1;
}

.content>*+* {
	margin-top: 1rem;
}

.title {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
}

.copy {
	font-family: var(--font-serif);
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.35;
}

.btn {
	cursor: pointer;
	margin-top: 1.5rem;
	padding: 0.75rem 1.5rem;
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
	border: none;
}

.btn:hover {
	background-color: #0d0d0d;
}

.btn:focus {
	outline: 1px dashed yellow;
	outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
	.carta:after {
		transform: translateY(0);
	}

	.content {
		transform: translateY(calc(100% - 4.5rem));
	}

	.content>*:not(.title) {
		opacity: 0;
		transform: translateY(1rem);
		transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}

	.carta:hover,
	.carta:focus-within {
		align-items: center;
	}

	.carta:hover:before,
	.carta:focus-within:before {
		transform: translateY(-4%);
	}

	.carta:hover:after,
	.carta:focus-within:after {
		transform: translateY(-50%);
	}

	.carta:hover .content,
	.carta:focus-within .content {
		transform: translateY(0);
	}

	.carta:hover .content>*:not(.title),
	.carta:focus-within .content>*:not(.title) {
		opacity: 1;
		transform: translateY(0);
		transition-delay: calc(var(--d) / 8);
	}

	.carta:focus-within:before,
	.carta:focus-within:after,
	.carta:focus-within .content,
	.carta:focus-within .content>*:not(.title) {
		transition-duration: 0s;
	}
}

/**************************************************/

 .container-artistas {
	bottom: 35vh;
	left: 30vh;
	height: 30vh;
	width: 100%;
	max-height: 800px;
	max-width: 1280px;
	min-height: 600px;
	min-width: 1000px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	position: absolute;
}
.container-artistas2 {
	bottom: 18vh;
	left: 30vh;
	height: 10vh;
	width: 100%;
	max-height: 800px;
	max-width: 1280px;
	min-width: 1000px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	position: absolute;
}


.border {
	height: 369px;
	width: 290px;
	background: transparent;
	border-radius: 10px;
	transition: border 1s;
	position: relative;
}

.border:hover {
	border: 1px solid #fff;
}


.card-artista {
	height: 379px;
	width: 300px;
	background: #808080;
	border-radius: 10px;
	transition: background 0.8s;
	overflow: hidden;
	background: #000;
	box-shadow: 0 70px 63px -60px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	opacity: 1;
}



.card-artista0 {
	background: url("https://cdn.wegow.com/media/artists/boris-brejcha/boris-brejcha-1540991098.7.jpg") center center no-repeat;
	background-size: 400px;
}



.card-artista0:hover {
	background: url("https://cdn.wegow.com/media/artists/boris-brejcha/boris-brejcha-1540991098.7.jpg") center center no-repeat;
	background-size: 600px;
}


.card-artista0:hover h2 {
	opacity: 1;
}


.card-artista1 {
	background: url("https://media.resources.festicket.com/image/300x300/center/top/filters:quality(70)/www/artists/OliverHeldens_New2.jpg") center center no-repeat;
	background-size: 390px;
}


.card-artista1:hover {
	background: url("https://media.resources.festicket.com/image/300x300/center/top/filters:quality(70)/www/artists/OliverHeldens_New2.jpg") center center no-repeat;
	background-size: 600px;
}


.card-artista1:hover h2 {
	opacity: 1;
}

.card-artista2 {
	background: url("https://www.nme.com/wp-content/uploads/2023/01/Skrillex2-press-2023.jpeg") center center no-repeat;
	background-size: 600px;
}

.card-artista2:hover {
	background: url("https://www.nme.com/wp-content/uploads/2023/01/Skrillex2-press-2023.jpeg") center center no-repeat;
	background-size: 1000px;
}

.card-artista2:hover h2 {
	opacity: 1;
}

.card-artista3 {
	background: url("https://i.guim.co.uk/img/media/cee3639f3c638a222e7dceb749e79a5b16b93183/0_550_8256_4954/master/8256.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=64d1ed16f83e08ef2ab9fdb2c0354da3") center center no-repeat;
	background-size: 400px;
}

.card-artista3:hover {
	background: url("https://i.guim.co.uk/img/media/cee3639f3c638a222e7dceb749e79a5b16b93183/0_550_8256_4954/master/8256.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=64d1ed16f83e08ef2ab9fdb2c0354da3") center center no-repeat;
	background-size: 600px;
}

.card-artista3:hover h2 {
	opacity: 1;
}

.card-artista4 {
	background: url("https://yt3.googleusercontent.com/in7ji16oeon_ypiAMeH-ZdTWSaIC54yZqMsFg0X3uhTBk4MDCuIkRf6TIoQQCqjl20DSdakhSQ=s900-c-k-c0x00ffffff-no-rj") center center no-repeat;
	background-size: 390px;
}

.card-artista4:hover {
	background: url("https://yt3.googleusercontent.com/in7ji16oeon_ypiAMeH-ZdTWSaIC54yZqMsFg0X3uhTBk4MDCuIkRf6TIoQQCqjl20DSdakhSQ=s900-c-k-c0x00ffffff-no-rj") center center no-repeat;
	background-size: 600px;
}

.card-artista4:hover h2 {
	opacity: 1;
}

.card-artista5 {
	background: url("https://www.amsterdam-dance-event.nl/uploads/images/artists-speakers/_900xAUTO_crop_center-center_none/000012710012.JPG") center center no-repeat;
	background-size: 600px;
}

.card-artista5:hover {
	background: url("https://www.amsterdam-dance-event.nl/uploads/images/artists-speakers/_900xAUTO_crop_center-center_none/000012710012.JPG") center center no-repeat;
	background-size: 1000px;
}

.card-artista5:hover h2 {
	opacity: 1;
}



.titulo_carta {
	color: #fff;
	margin-top: 300px;
	opacity: 0;
	transition: opacity 1s;
} 
