.pagina-eventos {
    width: 100%;
    background-color: #080042;
    padding-top: 160px;
    min-height: 83vh;

}

.evento-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.evento-individual {
    width: 44%;
    margin: 50px;
    height: auto;
    color: #FFFFFF;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto_esdeveniment {
    max-width: 100%;
    max-height: 500px;
    border: 5px solid white;
    opacity: 1;
    position: relative;
}

.div-info-eve {
    position: absolute;
    opacity: 0;
}

.foto_esdeveniment:hover {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;   

}

.foto_esdeveniment:hover+.div-info-eve {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
